/* reset CSS styling */
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables
============================= */

:root {
  /* colors */
  --color-dark: #071629;
  --color-light: #FFFFFF;
  --color-red: #FF6565;
  --color-red-button-hover: #f75454;

  /* font-family */
  --font-family-primary: 'Source Sans Pro';

  /* font-size */
  --font-size-large: 3.2rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 1.4rem;
}

/* Base
============================= */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family-primary);
}

a {
  text-decoration: none;
}

.container-header {
  max-width: 1000.39px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* Header
============================= */
.header {
  width: 100%;
  min-width: 375px;
  height: auto;
  padding: 29px 0;
  position: relative;
  background-image: url(/assets/images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-position: 35%;
  background-size: cover;
}

.header .logo{
  margin-right: calc(20%);
  width: 161px;
  height: 32px;
  background-image: url(/assets/images/logo_headphones.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header .nav {
  padding: 0 15px;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--color-light);
}

.header .nav ul li a:hover {
  color: var(--color-red);
}

.header #nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav-toggler {
  display: none;
}

.nav-toggler span {
  width: 20px;
  height: 14px;
  background-image: url(/assets/icons/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Container header text
============================= */
.container-header-text {
  margin: 0 9px;
  margin-top: 327px;
  margin-bottom: 106px;
}

.header-title {
  font-weight: bold;
  font-size: var(--font-size-large);
  line-height: 4rem;
  text-align: center;
  color: var(--color-light);
}

.header-subtitle {
  margin-top: 5px;
  padding: 0 48px;
  font-weight: bold;
  font-size: var(--font-size-medium);
  line-height: 2rem;
  text-align: center;
  color: var(--color-light);
}

.header-button {
  width: 162px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 13px 31px;
  font-weight: bold;
  font-size: var(--font-size-small);
  line-height: 1.8rem;
  text-align: center;
  color: var(--color-light);
  text-transform: uppercase;
  border-radius: 22px;
  background-color: var(--color-red);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.header-button:hover {
  cursor: pointer;
  background-color: var(--color-red-button-hover);
}

.heaader-paragraph {
  max-width: 637px;
  margin: 0 auto;
  margin-top: 65px;
  padding: 11px;
  font-weight: 400;
  font-size: var(--font-size-medium);
  line-height: 2.6rem;
  text-align: center;
  color: var(--color-light);
}


/* Media queries
============================= */

@media screen and (max-width: 767px) {
  .logo {
    order: 1;
  }

  .nav-toggler {
    display: flex;
  }

  .header .nav {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    opacity: 0;
    text-align: center;
    visibility: hidden;
  }

  .header .nav ul li {
    display: block;
    margin: 0;
  }

  .header #nav-check:checked ~ .nav {
    opacity: 1;
    visibility: visible;
  }

  .header #nav-check:checked ~ .nav-toggler span {
    width: 20px;
    height: 16px;
    background-image: url(/assets/icons/x.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;   
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-position: center;
  }
}

@media screen and (min-width: 1400px) {
  .row {
    justify-content: space-between;
  }
}
