/* reset CSS styling */
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables
============================= */

:root {
  /* colors */
  --color-dark: #071629;
  --color-light: #FFFFFF;
  --color-red: #FF6565;
  --color-red-button-hover: #f75454;

  /* font-family */
  --font-family-primary: 'Source Sans Pro';

  /* font-size */
  --font-size-large: 3.2rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-icons: 1.8rem;
  --font-size-dot-title: 4.6rem;
}

/* Base
============================= */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family-primary);
}

a {
  text-decoration: none;
}

.container-header {
  max-width: 1000.39px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

/* Header
============================= */
.header {
  width: 100%;
  min-width: 375px;
  height: auto;
  padding: 29px 0;
  position: relative;
  background-image: url(/assets/images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-position: 35%;
  background-size: cover;
}

.header .logo{
  margin-right: calc(20%);
  width: 161px;
  height: 32px;
  background-image: url(/assets/images/logo_headphones.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header .nav {
  padding: 0 15px;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--color-light);
}

.header .nav ul li a:hover {
  color: var(--color-red);
}

.header #nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav-toggler {
  display: none;
}

.nav-toggler span {
  width: 20px;
  height: 14px;
  background-image: url(/assets/icons/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Container header text
============================= */
.container-header-text {
  margin: 0 9px;
  margin-top: 327px;
  margin-bottom: 106px;
}

.header-title {
  font-weight: bold;
  font-size: var(--font-size-large);
  line-height: 4rem;
  text-align: center;
  color: var(--color-light);
}

.header-subtitle {
  margin-top: 5px;
  padding: 0 48px;
  font-weight: bold;
  font-size: var(--font-size-medium);
  line-height: 2rem;
  text-align: center;
  color: var(--color-light);
}

.header-button {
  width: 162px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 13px 31px;
  font-weight: bold;
  font-size: var(--font-size-small);
  line-height: 1.8rem;
  text-align: center;
  color: var(--color-light);
  text-transform: uppercase;
  border-radius: 22px;
  background-color: var(--color-red);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.header-button:hover {
  cursor: pointer;
  background-color: var(--color-red-button-hover);
}

.heaader-paragraph {
  max-width: 637px;
  margin: 0 auto;
  margin-top: 65px;
  padding: 11px;
  font-weight: 400;
  font-size: var(--font-size-medium);
  line-height: 2.6rem;
  text-align: center;
  color: var(--color-light);
}

/* What we do
============================= */
.section-wwd {
  min-width: 375px;
  padding-top: 110px; 
}

.container-wwd-text {
  margin: 0 25px;
}

.wwd-title {
  font-weight: 600;
  font-size: var(--font-size-large);
  line-height: 3.8rem;
  text-align: center;
  color: var(--color-dark);
}

.wwd-paragraph {
  max-width: 637px;
  margin: 0 auto;
  margin-top: 40px;
  font-weight: 400;
  font-size: var(--font-size-medium);
  line-height: 2.6rem;
  text-align: center;
  color: var(--color-dark);
}

/* What we do - icons
============================= */

.container-wwd-icon {
  margin: 110px 84px 14px 84px;
  display: flex;
  flex-wrap: wrap;
}

.container-wwd-icon div {
  width: 207px;
  height: 180px;
  margin-bottom: 96px;
}

.wwd-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;
  background-position: center;
  background-repeat: no-repeat;
}

.sound-icon {
  width: 94.2px;
  height: 65.36px;
  background-image: url(/assets/icons/sound.svg);
  background-size: 94.2px 65.36px;
}

.video-icon {
  width: 67.59px;
  height: 76.8px;
  background-image: url(/assets/icons/video.svg);
  background-size: 67.59px 76.8px;
}

.music-icon {
  width: 51.66px;
  height: 57.27px;
  background-image: url(/assets/icons/music.svg);
  background-size: 51.66px 57.27px;
}

.hearing-icon {
  width: 61.49px;
  height: 61.44px;
  background-image: url(/assets/icons/hearing.svg);
  background-size: 61.49px 61.44px;
}

.wwd-icon-title {
  font-weight: 600;
  font-size: var(--font-size-icons);
  line-height: 2.6rem;
  text-align: center;
  color: var(--color-dark);
}

.wwd-icon-paragraph {
  font-weight: 400;
  font-size: var(--font-size-small);
  line-height: 2.6rem;
  text-align: center;
  color: var(--color-dark);
}

/* result-section
============================= */

.result-section {
  width: 100%;
  height: auto;
  min-width: 375px;
  padding-bottom: 27px;
  padding-top: 125px;
  position: relative;
  background-image: url(/assets/images/headphones_hero_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-title {
  margin-bottom: 46px;
  padding: 0 56px;
  font-weight: 600;
  font-size: var(--font-size-large);
  line-height: 3.8rem;
  text-align: center;
  color: var(--color-light);
}

.result-paragraph {
  max-width: 637px;
  margin: 0 30px 77px;
  font-weight: 400;
  font-size: var(--font-size-medium);
  line-height: 2.6rem;
  text-align: center;
  color: var(--color-light);
}

.container-result-dog {
  display: flex;
  flex-direction: column;
}

.dot {
  width: 190px;
  height: 190px;
  margin-bottom: 42px;
  background-image: url(/assets/images/pentagone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190px 190px;
}

.dot-title {
  margin-top: 70px;
  font-weight: bold;
  font-size: var(--font-size-dot-title);
  line-height: 2.6rem;
  text-align: center;
  color: var(--color-light);
}

.dot-paragraph {
  margin-top: 30px;
  font-weight: 400;
  font-size: var(--font-size-medium);
  line-height: 2.6rem;
  text-align: center;
  color: var(--color-light);
}

/* Contact us
============================= */
.contact-section {
  min-width: 375px;
  width: 100%;
  padding-top: 110px;
  background-color: var(--color-light);
}

.form {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.form-title {
  margin-bottom: 56px;
  font-weight: 600;
  font-size: var(--font-size-large);
  line-height: 3.8rem;
  text-align: center;
  color: var(--color-dark);
}

.input {
  margin-bottom: 45px;
  border: none;
  border-bottom: 1px solid rgba(7, 22, 41, 0.17);
  

  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: 1.6rem;
  color: var(--color-dark);
}

.input::placeholder {
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: 1.6rem;
  color: var(--color-dark);
}

.input:focus {
  outline: none;
}

.button {
  border: none;
  width: 162px;
  padding: 13px 31px;
  border-radius: 22px;
  background-color: var(--color-red);

  font-weight: bold;
  font-size: var(--font-size-small);
  line-height: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-light);
}

.button:hover {
  cursor: pointer;
  background-color: var(--color-red-button-hover);
}

.form .button {
  margin: 11px 0 130px;
  align-self: center;
}

/* Media queries
============================= */

@media screen and (max-width: 767px) {
  .logo {
    order: 1;
  }

  .nav-toggler {
    display: flex;
  }

  .header .nav {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    opacity: 0;
    text-align: center;
    visibility: hidden;
  }

  .header .nav ul li {
    display: block;
    margin: 0;
  }

  .header #nav-check:checked ~ .nav {
    opacity: 1;
    visibility: visible;
  }

  .header #nav-check:checked ~ .nav-toggler span {
    width: 20px;
    height: 16px;
    background-image: url(/assets/icons/x.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;   
  }
  .container-wwd-icon div {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-position: center;
  }

  .container-wwd-icon {
    max-width: 472px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .container-result-dog {
    max-width: 456px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .form {
    margin: 0 auto;
    width: 335px;
  }
}

@media screen and (min-width: 1400px) {
  .row {
    justify-content: space-between;
  }

  .container-wwd-icon {
    max-width: 1002px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .container-result-dog {
    width: 998px;
    max-width: 998px;
    justify-content: space-between;
  }
}
